extends index.pug

block content
  h2 Measurement Transactions (Type: 24)
  
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js')
  script.
    // setTimeout(function() { window.location.reload(1);}, 5000);

    function displayChart() {
      let ctx = document.getElementById("chartPic").getContext('2d');
      
      let data = JSON.parse('!{temperaturedata}');
      console.log("temperaturedata %o", data)
      let chart = new Chart(ctx,  { type: 'scatter', data  });
    };
   
    window.onload = displayChart;

  div(id="divCanvas" width="400" height="400" border="1")
    canvas(id="chartPic" width="400" height="400" border="1")

  table(border='1')
    tr
      th Packet ID
      th Timestamp
      th Temperature
      th Humidity

    each transaction in transactions
      tr
        td= transaction.senderId
        td= transaction.timestamp
        td= transaction.asset.temperature
        td= transaction.asset.humidity

